
.selectedPage {
    background-color: #4a76a8;
    cursor: pointer;
    border: none;
    transition: all .3s ease-in-out;
}





































/*

.selectedPages {
    font-weight: bold;
}*/
